button {
    display: block;
    width: 90%;
    margin: 0 auto;
}

h1, h2 {
    display: block;
    text-align: center;
}

h2 {
    color: white;
}

.container {
    background-color: rgba(20, 19, 19, 0.616);
    width: 95vw;
    height: 90vh;
    margin: 0 auto;
    border-radius: 80px;
    padding-top: 5vw;
}