body {
    background-color: black;
}

button {
    display: block;
    width: 90%;
    margin: 5% auto;
    height: 20%;
    font-size: 3em;
}

h1, h2 {
    display: block;
    text-align: center;
}

h1 {
    font-size: 3em;
}

h2 {
    color: white;
    font-size: 5em;
    margin: 3vw auto;
}

.container {
    position: absolute;
    top: 2vw;
    bottom: 2vw;
    background-color: rgba(49, 49, 49, 0.9);
    width: 95vw;
    margin: 0 auto;
    border-radius: 50px;
    padding-top: 5vw;
}